<h1>Forgot Password</h1>

<form action="" id="forgotPassForm">
    <label for="">Email</label>
    <input type="email" name="email" id="forgotEmail">
    <label for="">New Password</label>
    <input type="password" name="password" id="forgotPassword">

    <button type="submit">Create new password</button>
</form>

<p>Get back to login</p>
<a href="/login"><button>Click here</button></a>

<script src="/js/forgotPass.js"></script>