<h1>Login</h1>

<form action="" id="loginForm">
  <label for="">Email</label>
  <input type="email" name="email" />

  <label for="">Password</label>
  <input type="password" name="password" />

  <button type="submit">Log in</button> 
</form>
<hr>
<p>If you are not registered please click here</p>
<a href="/signup"><button>go to sign up</button></a>

<p>Forgot your pass?</p>  
<a href="/forgotPass"><button>click here to generate a new one</button></a>
<br>
<p>Have a Github account?</p>
<a href="/api/auth/github"><button>click here to login using Github</button></a>
<script src="/js/login.js"></script>  