<h1>Profile</h1>

<label for="">Name</label>
<p>{{user.name}}</p>

<label for="">Lastname</label>
<p>{{user.lastname}}</p>

<label for="">Email</label>
<p>{{user.email}}</p>   

<label for="">Rol</label>
<p>{{user.role}}</p>

<br>
<p>Wanna sign out?</p>
<a href="/api/auth/logout"><button>Click here</button></a>