<h1>Sign up</h1>

<form action="" id="signupForm">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Lastname</label>
    <input type="text" name="lastname">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Create User</button>
</form>

<br>
<p>Already have an account?</p>
<a href="/login"><button>Go to sign in</button></a>

<script src="/js/signup.js"></script>